<div class="container-fluid " style="background:linear-gradient(#085b80,#0779aa);">
  <div class="row h-100 "  >
  <div class="col-sm-12 mt-2 mr-2 ml-2"   >
<div class="card " >

  <div class="card-body">
      <h5><b>Note From Developer</b></h5>

      <img class="float-left img-fluid" src="assets/selfie2.jpg" alt="Card image cap" width="500" style="padding:1%">
    <p class="card-text" style="font-size:20px"> Hello All ! Welcome to <strong>ReportViso</strong>. This is Nivedita, the developer of ReportViso. I am a web developer with 4.5+ years of experience in the industry. I have worked on innovative and research oriented web based tools focused on 2D & 3D visualizations for past 2+ years, in the area of automobile, specifically CAD (Computer Aided Design).</p>
      <p class="card-text" style="font-size:20px">I came up with the idea of ReportViso to showcase the kind of work I have done as a Front end developer.Through ReportViso, I have created a prototype or a mockup of the projects I have been associated with, in past 2 years.The actual projects I have worked on were more complex in nature with more functionalities. ReportViso is an effort to show that the experience I have gained through the development of visualization tools can be extended to develop websites which are more generic (like e-commerce, educational, company websites etc) and not only limited to CAD/automobile domain.</p>

    </div>
  </div>
  </div>
  <div class="col-sm-12 mt-2 mr-2 ml-2" >
  <div class="card ">

      <div class="card-body">
          <h5 style="padding-bottom:2%"><b>Why ReportViso ?</b></h5>

        <p class="card-text" style="font-size:20px"> ReportViso is a web based tool designed to view, visualize and analyze a certain type of weld report known as MR Report.To Learn more about MR Reports, Please click here</p>

<p class="card-text" style="font-size:20px">Traditionally, MR reports are viewed on CAD (Computer Aided Design) software like NX which are licensed and sometimes slow while displaying heavy content.  ReportViso is developed with open source JavaScript Frameworks like angular, node, d3 which are fast and responsive. It’s not heavy on your computer hardware and is freely available. It is no replacement to CAD but a first step towards developing web based visualizing tools independent of CAD.</p>


  </div>
      </div>

</div>
<div class="col-sm-12 mt-2 mr-2 ml-2" >
    <div class="card ">

        <div class="card-body">
            <h5 style="padding-bottom:2%"><b>Features</b></h5>

            <div id="demo" class="carousel slide" data-ride="carousel" style="padding:2.5%">
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                  <li data-target="#demo" data-slide-to="3"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img-fluid" src="assets/dashboard.PNG" alt="New York" >

                      </div>
                  <div class="carousel-item">
                    <img class="img-fluid" src="assets/summary.PNG" alt="Los Angeles" >

                  </div>
                  <div class="carousel-item">
                    <img class="img-fluid" src="assets/report.PNG" alt="Chicago" >

                  </div>
                  <div class="carousel-item">
                    <img class="img-fluid" src="assets/graph.PNG" alt="New York" >

                  </div>

                </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev" >
                  <span class="carousel-control-prev-icon" ></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>



            <ul class="card-text" style="font-size:20px">
              <li>Dashboard with user activity and report quality indicator</li>
              <li>Upload MR Reports and view it as
                <ol>
                  <li><b>Summary Report</b> - Gives an overview of the report with the quality indicator.Summary report gives an idea to the end users about the report accuracy and the percentage of errors in the report</li>
                  <li><b>Detailed Report</b> - Complete report with all the properties are displayed in tabular format</li>
                  <li><b>2D Viewer</b> - Weld data is represented as a scatter plot graph with interactive panel. This helps the users to apply filter on weld properties like filter weld points based on STPOS errors, their geometrical type etc. This is the section where 2D visualization of the MR report can be done.</li>
                  </ol>
                 </li>
                 <li>Save Reports and View them anytime</li>
                 <li>Delete Reports</li>
            </ul>





    </div>
        </div>

  </div>
  </div>

</div>
