/*
  .axis path,
  .axis line{
    fill: none;
    stroke: black;
  }

  .line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
  }

  .tick text{
    font-size: 12px;
  }

  .tick line{
    opacity: 0.2;
  }

  html, body {

    height: 94%;


}



.container-fluid {
height:100%;
position:relative;
background-color:#e9eef3;
}
*/



html, body {

  height: 100%;


}

hr {
  margin:5px;
}

.container-fluid {
  background-color:#f1f7fd;

height:100vh;
  font-family: Helvetica, sans-serif;

  }
