



html, body {

  height: 100%;
  background-color:#f1f7fd;


  font-family: Helvetica, sans-serif;

}


hr {
  margin:5px;
}

.container-fluid {
  background-color:#f1f7fd;


  font-family: Helvetica, sans-serif;

  }
