
<div class="container-fluid welcome">
<div class="row h-100 title1 " >
<div class="col-sm-12 my-auto " >
<div class="card shadow" style="padding:0;background:linear-gradient(#053147ca,#05405d70);" >
  <div class="card-body">

        <h2 style="padding-bottom:0.5%;">An Innovative Platform to Visualize your weld reports</h2>

        <h4> Visualization made better here</h4>

        <button type="button" class="btn btn-primary btn-lg"  style="padding: 15px 15px 15px 15px;border-radius:50px;font-size:18px" (click)="signupForm()" >Get Started!</button>
        </div>
        </div>
</div>
<!--

-->
  </div>



    </div>

    <div class="container-fluid what" id="features">
<div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  " >
            <h3 style="padding-bottom:2%;">Why Choose ReportViso1</h3>
           <p> Traditionally, MR reports are viewed on CAD (Computer Aided Design) software like NX which are licensed and sometimes slow while displaying heavy content.ReportViso is no replacement of NX and other visualization tools but the first step towards creating a dedicated platform for weld data visualization by reducing NX dependency</p>
           <div class="ftr">
              <i class="fa circle fa-check inctm"></i> <p style="display:inline;padding:9px;color:#007bff;font-weight: bold">Dedicated platform for weld data visualization</p>
             </div>
           <div class="ftr">
             <i class="fa circle fa-check inctm"></i> <p style="display:inline;padding:9px;color:#007bff;font-weight: bold">Freely Available</p>
            </div>
            <div class="ftr">
                <i class="fa circle fa-check inctm"></i> <p style="display:inline;padding:9px;color:#007bff;font-weight: bold"> Fast and Responsive </p>
               </div>
               <div class="ftr">
                  <i class="fa circle fa-check inctm"></i> <p style="display:inline;padding:9px;color:#007bff;font-weight: bold">Helps in early error detetection </p>
                 </div>
                 <div class="ftr">
                    <i class="fa circle fa-check inctm"></i> <p style="display:inline;padding:9px;color:#007bff;font-weight: bold">First step towards reducing CAD dependency </p>
                   </div>
</div>
<div class="col col-sm col-md  col-lg col-xl my-auto mx-auto">
    <div id="demo" class="carousel slide mt-4" data-ride="carousel" >
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>

        </ul>
        <div class="carousel-inner" >

          <div class="carousel-item active">
            <img class="img-fluid" src="assets/summary1.PNG"  alt="Los Angeles" >

          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="assets/report1.PNG" alt="Chicago" >

          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="assets/graph1.PNG" alt="New York" >

          </div>

        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev" >
          <span class="carousel-control-prev-icon" ></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
  </div>
</div>
    <!--  <div class="row h-75" style="background:linear-gradient(#063d588c,#0531473b);padding:3%;padding-left:0.5%;padding-right:0.5%">
            <div class="col-sm-12  " >

                <img class="img-fluid mx-auto my-auto d-block" src="assets/list5.png" >
              </div>
            </div>-->
            </div>




<div class="container-fluid slider " id="services">

    <h3 style="padding-bottom:2%;text-align:center;color:white" >Services</h3>

<div class="row">
<div class="col-sm-12 mt-3" >
    <div class="card ">
        <div class="card-body">

  <div class="row">
      <div class="col-sm-12">
          <div class="card" style="border: none">
              <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="hdr">     <div class="wrapper" ><i class="fa fa-file icn fa-2x" ></i></div> Summary Report</h5>
                        <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px">
                            Gives a brief overview of the report with the quality indicator. Summary report gives an idea to the end users about the report accuracy and the percentage of errors in the report
                        </p>
                      </div>
                      <div class="col-sm-4">
                          <h5 class="hdr">    <div class="wrapper" ><i class="fa fa-list-alt icn fa-2x"> </i></div>Detailed Report</h5>
                          <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px">
                              Complete report with all the properties are displayed in tabular format
                          </p>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="hdr">    <div class="wrapper" ><i class="fa fa-line-chart icn fa-2x" style="padding:1.5%"> </i></div>2D Viewer</h5>
                            <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px">
                                Weld data represented as a scatter plot graph with interactive panel. Interactive setup helps end users to apply filter on weld properties like filter weld points based on STPOS errors, their geometrical type etc
                            </p>
                          </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-sm-4">
                          <div class="wrapper" ><i class="fa fa-dashboard icn fa-3x" ></i> </div>
                          <h5 class="hdr"> Dashboard </h5>
                          <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px"> Gives an overview of the user activity and quality of the saved user reports</p>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="hdr">  <div class="wrapper" ><i class="fa fa-save icn fa-2x "></i></div>Save Report</h5>
                            <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px"> Save Reports and View/Visualize them anytime</p>
                          </div>
                          <div class="col-sm-4">
                              <h5 class="hdr">  <div class="wrapper" ><i class="fa fa-remove icn fa-2x" ></i></div>Delete Report</h5>
                              <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px">Delete one or more reports at a time </p>
                            </div>
                      </div>
                </div>
                </div>
        </div>

        </div>


    </div>
        </div>

  </div>
  </div>


        </div>
<div class="container-fluid" style="padding:6%" id="about">
  <div class="row">
    <div class="col-sm-12">
        <h3 style="padding-bottom:3%;text-align:center;">About Me</h3>

        <img class="float-left img-fluid" src="assets/selfie2.jpg" alt="Card image cap" width="450" style="padding:2%">
      <p class="card-text" style="font-size:18px"> "Hello All ! Welcome to <strong>ReportViso</strong>. This is Nivedita, the developer of ReportViso. I am a web developer with 4.5+ years of experience in the industry. I have worked on innovative and research oriented web based tools focused on 2D & 3D visualizations for past 2+ years, in the area of automobile, specifically CAD (Computer Aided Design).</p>
        <p class="card-text" style="font-size:18px">I came up with the idea of ReportViso to showcase the kind of work I have done as a Front end developer.Through ReportViso, I have created a prototype or a mockup of the projects I have been associated with, in past 2 years.The actual projects I have worked on were more complex in nature with more functionalities. ReportViso is an effort to show that the experience I have gained through the development of visualization tools can be extended to develop websites which are more generic (like e-commerce, educational, company websites etc) and not only limited to CAD/automobile domain."</p>

      </div>
    </div>
  </div>

 <div class="container-fluid">
    <div class="row" style="background-color:#084666;color:white;text-align:center;height:50vh;">
        <div class="col-sm-12 my-auto">
<h3 style="padding:3%;color:white">Get Started !! Become a ReportVisian</h3>

<button type="button" class="btn btn-primary btn-lg" (click)="signupForm()" >Sign Up Free</button>
</div>
        </div>
   </div>


