<div class="container-fluid welcome">
<div class="row h-100 title1 " >
<div class="col-sm-12 my-auto " style="padding:0">

        <h2>An Innovative Platform to Visualize your weld reports</h2>

        <h4> Visualization made better here</h4>

        <button type="button" class="btn btn-primary btn-lg"  style="padding: 15px 15px 15px 15px;border-radius:50px;font-size:18px" (click)="signupForm()" >Get Statred!</button>
</div>
<!--

-->
  </div>



    </div>

    <div class="container-fluid what">
        <h3 style="padding-bottom:1%;text-align:center;">Why ReportViso</h3>
      <div class="row h-100  ">
            <div class="col-sm-12 mt-5 ">
                <img class="img-fluid mx-auto d-block" src="assets/list2.png" width="800">
              </div>
            </div>
            </div>

            <div class="container-fluid" style="background-color:#053147;padding:12%">
              <div class="row h-100">
                <div class="col-sm-2">
                  </div>
            <div class="col-sm-12 my-auto">
                <h3 style="padding-bottom:4%;text-align:center;color:white">First Look</h3>
    <div id="demo" class="carousel slide border border-secondary shadow" data-ride="carousel"  >
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="img-fluid" src="assets/dashboard.PNG" alt="New York" >

              </div>
          <div class="carousel-item">
            <img class="img-fluid" src="assets/summary.PNG" alt="Los Angeles" >

          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="assets/report.PNG" alt="Chicago" >

          </div>
          <div class="carousel-item">
            <img class="img-fluid" src="assets/graph.PNG" alt="New York" >

          </div>

        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev" >
          <span class="carousel-control-prev-icon" ></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      </div>
      <div class="col-sm-2">
        </div>
              </div>
        </div>


<div class="container-fluid slider ">

   <h3 style="padding-bottom:2%;text-align:center;color:white">Features</h3>

<div class="row">
<div class="col-sm-12 mt-3" >
    <div class="card ">
        <div class="card-body">

  <div class="row">
      <div class="col-sm-12">
          <div class="card" style="border: none">
              <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <h5 class="hdr">     <div class="wrapper" ><i class="fa fa-file icn fa-4x" ></i></div> Summary Report</h5>
                        <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px">
                            Gives a brief overview of the report with the quality indicator. Summary report gives an idea to the end users about the report accuracy and the percentage of errors in the report
                        </p>
                      </div>
                      <div class="col-sm-4">
                          <h5 class="hdr">    <div class="wrapper" ><i class="fa fa-list-alt icn fa-4x"> </i></div>Detailed Report</h5>
                          <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px">
                              Complete report with all the properties are displayed in tabular format
                          </p>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="hdr">    <div class="wrapper" ><i class="fa fa-line-chart icn fa-4x" style="padding:1.5%"> </i></div>2D Viewer</h5>
                            <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px">
                                Weld data represented as a scatter plot graph with interactive panel. Interactive setup helps end users to apply filter on weld properties like filter weld points based on STPOS errors, their geometrical type etc
                            </p>
                          </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-sm-4">
                          <div class="wrapper" ><i class="fa fa-dashboard icn fa-5x" ></i> </div>
                          <h5 class="hdr"> Dashboard </h5>
                          <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px"> Gives an overview of the user activity and quality of the saved user reports</p>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="hdr">  <div class="wrapper" ><i class="fa fa-save icn fa-4x "></i></div>Save Report</h5>
                            <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px"> Save Reports and View/Visualize them anytime</p>
                          </div>
                          <div class="col-sm-4">
                              <h5 class="hdr">  <div class="wrapper" ><i class="fa fa-remove icn fa-4x" ></i></div>Delete Report</h5>
                              <p class="lead"  style="padding:1.5%;text-align:center;font-size:14px">Delete one or more reports at a time </p>
                            </div>
                      </div>
                </div>
                </div>
        </div>

        </div>

         <!--   <ul class="card-text" style="font-size:20px">
              <li>Dashboard with user activity and report quality indicator</li>
              <li>Upload MR Reports and view it as
                <ol>
                  <li><b>Summary Report</b> - Gives an overview of the report with the quality indicator.Summary report gives an idea to the end users about the report accuracy and the percentage of errors in the report</li>
                  <li><b>Detailed Report</b> - Complete report with all the properties are displayed in tabular format</li>
                  <li><b>2D Viewer</b> - Weld data is represented as a scatter plot graph with interactive panel. This helps the users to apply filter on weld properties like filter weld points based on STPOS errors, their geometrical type etc. This is the section where 2D visualization of the MR report can be done.</li>
                  </ol>
                 </li>
                 <li>Save Reports and View them anytime</li>
                 <li>Delete Reports</li>
            </ul>
          -->




    </div>
        </div>

  </div>
  </div>


        </div>
 <div class="container-fluid">
    <div class="row" style="background-color:#084666;color:white;text-align:center;height:50vh;">
        <div class="col-sm-12 my-auto">
<h3 style="padding:3%;color:white">Get Started !! Become a ReportVisian</h3>

<button type="button" class="btn btn-primary btn-lg" (click)="signupForm()" >Sign Up Free</button>
</div>
        </div>
   </div>

