
<div class="row h-100" style="
background-image:url(https://i.pinimg.com/originals/a7/5f/dc/a75fdcab110ae11f155ed96f428a86ae.png);color:white;background-repeat: no-repeat;">
<div class="col-sm-12 my-auto">
    <div class="title1 ">
        <h2>An Innovative Platform to Visualize your reports</h2>
        <h4> A tool that will make your job easy</h4>
        <h4> Visualization made better here</h4>

        <button type="button" class="btn btn-primary btn-lg" (click)="signupForm()" >Sign Up Free</button>
          </div>
  </div>

    </div>

  <div class="row h-100" style="background-color:#f1f7fd;">
      <div class="col-sm-12 h-100 my-auto">
    <h2 style="text-align:center;margin-top:13%">    What you can do with ReportViso </h2>
    <div class="row" style="background-color:#f1f7fd;text-align:center;padding:4%;">
        <div class="col-sm-4">
            <span style="font-size:260%;padding:3%">
            <i class="fa fa-area-chart"></i>
            </span>
       <h4 style="color:#007bff;"> Visualize </h4>
       <h6> Visualize reports as Detailed/Summary/Graph </h6>
       <hr class="d-block d-sm-none">
          </div>
          <div class="col-sm-4 ">
              <span  style="font-size:260%;margin-top:5px">
                  <i class="fa fa-check-square"></i>
                  </span>
              <h4 style="color:#007bff;"> Analyze</h4>
         <h6> Interactive setup lets you find possible errors in the report </h6>
         <hr class="d-block d-sm-none">
        </div>
            <div class="col-sm-4 ">
                <span  style="font-size:260%;padding-top:5%">
                <i class="fa fa-save"></i>
                </span>
                <h4 style="color:#007bff;">Save</h4>
            <h6> Save reports and revisit whenever you want </h6>
              </div>
      </div>
        </div>
    </div>

      <div class="row" style="background-color:#000d3f;color:white;text-align:center;padding:13%;height:450px;">
        <div class="col-sm-12 my-auto">
<h3>Get Started !! Become a ReportVisian</h3>

<button style="margin:5%" type="button" class="btn btn-primary btn-lg" (click)="signupForm()" >Sign Up Free</button>
</div>
        </div>

