.card {
  background-color:#343a401f;



border-color: #014894;

  }

.noReport {
  text-align: center;
}


  .card-header {
text-align: center;
    color:white;
padding:2px;
background-color:#014894;

  }

  .card-body {
    background-color:rgb(243, 241, 241);
    padding:5px;

  }
hr {
  margin:0em;
  padding:0;
}

  h5 {
    width:100%;
   padding:5px;
   background:linear-gradient(#084666, #0c87c5) ;
   color:white;

  }
  .table th{
    background-color:#0b608a71;

}

tr:nth-child(even) {background: #0b608a15}
tr:nth-child(odd) {background: #FFF}
