
  <div class="row pl-2 pr-2 " >
      <div class="col-sm-12 mt-2 mr-2 ml-2  border " >
<h5 *ngIf="reportList.length > 0" style="background-color:#014894;color:white">Your Reports</h5>
                  <table    id="reportList" class="table   "   width="100%" *ngIf="reportList.length > 0">

                    <thead>
                        <tr>
                          <th>
                            <input type="checkbox" name="all" (change)="selectAll($event)"/>
                          </th>
                          <th>S.No </th>
                          <th>Name</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let report of reportList | reverse;let i=index">
                          <td>
                              <input type="checkbox"
                              name="{{i}}" [(ngModel)]="report.state"/>
                          </td>
                          <td>{{i+1}}</td>
                          <td>{{report.name}}</td>
                          </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="3">
                        <div class="row">
                            <div class="col-sm-4 pr-0">
                            <button id="visualize" class="btn btn-primary btn-block " type="button" [disabled]="isVislizeDis()" (click)="onVisualize()">Visualize Existing Report</button>
                            <hr class="d-block d-sm-none">
                            <hr class="d-block d-sm-none">
</div>
<div class="col-sm-4 pr-0 ">
    <button id="visualize" class="btn btn-secondary btn-block " type="button"  (click)="onVisualizeExisting()" >Visualize New Report</button>
    <hr class="d-block d-sm-none">
    <hr class="d-block d-sm-none">
</div>
<div class="col-sm-4 pr-0">
                              <button id="delete" class="btn btn-danger btn-block " type="button" (click)="onDeleteClicked()" [disabled]="isDelDis()">Delete Report(s)</button>
</div>
                            </div>
                            </td>
                            </tr>
                      </tfoot>
                    </table>




<div class="row noReport" *ngIf="reportList.length == 0">
  <div class="col-sm-12" style="padding:6%">

          <h5> You have no reports to be displayed</h5>
          <hr style="padding:5px;width:50%;margin:auto">

        <h6 style="padding:1%">Please upload a weld report to start visualizing</h6>
        <button id="visualize" class="btn btn-primary" type="button"  (click)="onVisualizeExisting()" >Visualize New Report</button>

      </div>




</div>

<hr>
        </div>
      </div>


<br/>
<br/>
<br/>
<br/>
<app-dialog *ngIf="delDialog"  [message]="message"  [title]="title"  (okClicked)="onOk($event)" ></app-dialog>
<app-dialog *ngIf="newRepo"  [upload]="true"  [title]="title"  (newReportSubmitted)="reportSubmitted($event)" ></app-dialog>
<app-loader *ngIf="loader"></app-loader>
