.card {
  background-color:#343a401f;



border-color: #014894;

  }

.noReport {
  text-align: center;

  background-color:#e5f0fcd3;
}


  .card-header {
text-align: center;
    color:white;
padding:2px;
background-color:#014894;

  }

  .card-body {
    background-color:rgb(243, 241, 241);
    padding:5px;

  }
hr {
  margin:0em;
  padding:0;
}

  h5 {
    width:100%;
   padding:5px;

  }

