
<div class="row my-auto" style="background-image:url(https://i.pinimg.com/originals/a7/5f/dc/a75fdcab110ae11f155ed96f428a86ae.png);background-repeat: no-repeat;height:100vh">
    <div class="col-sm-4 my-auto">
    </div>
    <div class="col-sm-4 my-auto ">
<h6 style="padding:3px;color:rgb(206, 206, 206);text-align:center;font-weight:bold">Take a tour as a Guest User before Signing up ? <br/><a [routerLink]="['login/']" [queryParams]="{ guest: true }">Click here</a></h6>
        <div class="card  shadow p-3 mb-5 bg-white rounded   " >
            <div class="card-header">

              <div class="row">
                <div class="col-md-6 col-sm-6 col-6  pr-0">
                  <button class="btn btn-primary" routerLink="login">Login</button>

                  </div>
                  <div class="col-md-6 col-sm-6 col-6  pl-1">
                      <button class="btn btn-primary" routerLink="signup">Signup</button>
                    </div>
                </div>



            </div>
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>

          </div>
      </div>
      <div class="col-sm my-auto">
        </div>
  </div>

