
<div class="row ">
    <div class="col-sm-4 brief"  >
<div class="card  rounded " >
  <div class="card-body summary">
      <h4>50</h4>
      <hr>
      <span style="font-size:16px;">
          <i class="fa fa-user-circle-o fa-fw" style="padding-right: 2px;"></i>
        Visits</span>
    </div>
  </div>
</div>
<div class="col-sm-4 brief" >
    <div class="card  rounded " >
        <div class="card-body summary my-auto">
            <h4> <h4 *ngIf="reportList">{{reportList.length}}</h4></h4>
            <hr>

            <span style="font-size:16px;">
                <i class="fa fa-file-text" style="padding-right: 2px;"></i>
             Reports</span>
          </div>
        </div>
    </div>

<div class="col-sm brief" >
    <div class="card rounded " >
        <div class="card-body summary">
            <h4>{{reportQual['poor']}}</h4>
  <hr>
  <span style="font-size:16px;">
      <i class="fa fa-thumbs-down" style="padding-right: 2px;"></i>
    Poor Reports</span>
          </div>
        </div>





</div>
</div>


<div class="row  " >
    <div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 brief">
    <div class="card"  style="background-color:#dfebf8d3">
    <div class="card-body">
      <canvas id="myChart"  #myChart1 height="210"  ></canvas>

    </div>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-xl-12 col-lg-12 brief">
  <div class="card" style="background-color:#f2f6fad3">
      <div class="card-body">
     <canvas id="myChart2"  #myChart2 height="210"  ></canvas>
     </div>
     </div>
       </div>
</div>


<div class="row " >

   <div class="col-sm-12 brief" style="color:rgb(59, 59, 59);">
      <div class="card">
          <div class="card-body">
              <div *ngIf="reportList;else noReport">
                  <h6 class="ra"> Recent Activity</h6>

                        <table id="reports"   class="table table-sm" cellspacing="0"   style="font-size:14px;height:35vh" >

                            <thead>
                                <tr>
                                  <th>S.No </th>
                                  <th>Name</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let report of reportList | reverse;let i=index">

                                  <td *ngIf="i < 3" >{{i+1}}</td>
                                  <td *ngIf="i < 3">{{report.name}}</td>

                                  </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <td colspan="2"><a style="font-size:14px" [routerLink]="['/main/reportList']">Load More..</a></td>
                              </tr>
                              </tfoot>
                            </table>



                        </div>
                        <ng-template #noReport>
                            <h6 style="text-align:center;padding:3px;margin-top:60px;font-weight:bold;">No Recent Activity</h6>

                        </ng-template>
            </div>
          </div>


          </div>
          </div>





<app-loader *ngIf="loader"></app-loader>
