

<div class="row "  >
    <div class="col-sm-4 mr-2 ml-2 mt-2"  style="text-align:center;background-color:#4040a1;height:15vh;color:white;padding:5px">


      <h4>50</h4>
      <span style="font-size:14px;">
          <i class="fa fa-user-circle-o fa-fw" style="padding-right: 2px;"></i>
        Total no. of Visits</span>
      <hr>
      <i class="fa fa-clock-o"></i><span style="font-size:10px;margin-left:2px"> update {{currTime}}</span>

</div>
<div class="col-sm-4  mr-2 ml-2 mt-2"  style="text-align:center;background-color:#36486b;height:15vh;color:white;padding:5px">

    <h4 *ngIf="reportList">{{reportList.length}}</h4>
    <span style="font-size:14px;">
        <i class="fa fa-file-text" style="padding-right: 2px;"></i>
      Total no. of Reports</span>
    <hr>
    <i class="fa fa-clock-o"></i><span style="font-size:10px;margin-left:2px">  update {{currTime}}</span>

    </div>

<div class="col-sm mr-2  ml-2 mt-2 "  style="text-align:center;padding-top:1px;background-color:#618685;height:15vh;color:white;padding:5px">


  <h4>{{reportQual['poor']}}</h4>
  <span style="font-size:14px;">
      <i class="fa fa-thumbs-down" style="padding-right: 2px;"></i>
    Total no. of Poor quality Reports</span>
  <hr>
  <i class="fa fa-clock-o"></i><span style="font-size:10px;margin-left:2px">  update {{currTime}}</span>

</div>
</div>

<div class="row" >
  <div class="col-sm-4 mr-2 mt-2 ml-2   border" style="background-color:#c8d8f8;height:45vh" >
    <canvas id="myChart"  #myChart1 ></canvas>
  </div>
   <div class="col-sm mr-2 mt-2 border " style="color:rgb(78, 78, 78);padding:3px;background-color:#e6edfa;height:45vh">
    <div *ngIf="reportList;else noReport">
    <h6 style="text-align:center;margin-top:3px;font-weight:bold;" > Recent Activity</h6>

          <table id="reports" class="table table-striped table-sm" cellspacing="0" width="100%" style="font-size:14px;height:30vh" >

              <thead>
                  <tr>
                    <th>S.No </th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let report of reportList | reverse;let i=index">

                    <td *ngIf="i < 3" >{{i+1}}</td>
                    <td *ngIf="i < 3">{{report.name}}</td>

                    </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2"><a style="font-size:14px" [routerLink]="['/main/reportList']">Load More..</a></td>
                </tr>
                </tfoot>
              </table>

              <a  [routerLink]="['/main/reportList']" style="font-size:15px;font-weight:bold;color:rgb(5, 52, 128);cursor: pointer;">Visualize a new Report ?</a>

          </div>
          <ng-template #noReport>
              <h6 style="text-align:center;padding:3px;margin-top:60px;font-weight:bold;">No Recent Activity</h6>
          <h4 style="text-align:center;font-size:15px;font-weight:bold;">    <a style="cursor: pointer;color:rgb(5, 52, 128)" [routerLink]="['/main/reportList']">Visualize a new Report ?</a>
</h4>

          </ng-template>
          </div>
          </div>

          <div class="row pl-2 pr-2 pt-2 mb-2" >
  <div class="col-sm-12 border " style="background-color:#dbdde0;height:40vh">
              <canvas id="myChart2"  #myChart2 height="100"></canvas>
                </div>
</div>
<br/>
<br/>
<br/>
<br/>


<app-loader *ngIf="loader"></app-loader>
