
<div class="col-md-12 col-12 col-lg-12  p-l-0 p-r-0 collapse show width" id="sidebar" >

    <div class="list-group panel">
        <a class="list-group-item collapsed" data-parent="#sidebar"  [routerLink]="'/main/report/summary'" [routerLinkActive]="'active-link'"><i class="fa fa-file d-inline-block"></i> <span class="d-none d-lg-block">Summary Report</span></a>
        <a class="list-group-item collapsed" data-parent="#sidebar" [routerLink]="'/main/report/detail'" [routerLinkActive]="'active-link'"><i class="fa fa-list-alt" style="padding-right:12px"></i><span class="d-none d-lg-block">Detailed Report</span></a>
        <a class="list-group-item collapsed" data-parent="#sidebar" [routerLink]="'/main/report/viewer'" [routerLinkActive]="'active-link'"><i class="fa fa-line-chart" style="padding-right:12px"></i> <span class="d-none d-lg-block">2D Viewer</span></a>
        <a class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-bar-chart" style="padding-right:12px"></i> <span class="d-none d-lg-block">Error Statistics</span></a>
    </div>
</div>
